@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.youshd-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  margin-top: 2.5rem;
  overflow-x: hidden;
}

.youshd-widget-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.youshd-widget__heading {
  text-align: center;
  color: #283138;
  margin: 0;
  color: var(--neutrals-900, #283138);
  text-align: center;
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem; /* 83.333% */
  margin-bottom: 0.75rem;
  width: 250px;
}

.youshd-widget__para {
  text-align: center;
  color: #3a464e;
  width: 280px;
  color: var(--neutrals-800, #3a464e);
  text-align: center;
  font-family: "Montserrat";
  font-size: 0.875rem;
  font-style: normal;
  line-height: 1.25rem; /* 142.857% */
  margin: 0;
  padding: 0;
}

.gwSliderContainer {
  width: 80%;
  /* background: rgb(208,208,208);
background: linear-gradient(90deg, rgba(208,208,208,0.8982186624649859) 0%, rgba(248,248,255,1) 18%, rgba(248,248,255,0.8562018557422969) 79%, rgba(208,208,208,1) 100%); */
  overflow: visible;
  /* padding: 10px 0px; */
  position: relative;
}

.gwSliderContainer::after,
.gwSliderContainer::before {
  content: "";
  position: absolute;
  top: 0;
  width: 3%;
  height: 100%;
  background-color: inherit;
  filter: blur(10px); /* Adjust the blur radius as needed */
  background-color: #ffffffdc;
}

.gwSliderContainer::before {
  left: 0;
  z-index: 5;
}

.gwSliderContainer::after {
  right: 0;
}

/* .youshd-widget__footer {
} */

.youshd-widget__cta-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 8px 70px;
  font-weight: bold;
  border-radius: 0.5rem;
  font-family: "Montserrat", sans-serif;

  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 2.4rem */
  margin: 10px 0px;
  cursor: pointer;
}

/* .youshd-widget__poweredby-wrapper {
} */

.youshd-widget__poweredby-text {
  color: var(--neutrals-800, #3a464e);
  font-family: Montserrat;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1rem; /* 160% */
  letter-spacing: -0.015rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0;
}

.youshd-widget__poweredby-img {
  width: 60px;
  height: auto;
}

.gw-slider .slick-list {
  overflow-y: visible !important;
  padding: 0px 20px 0px 20px !important;
  overflow: hidden !important;
}

.tile {
  max-width: 350px;
  /* min-width: 200px; */
  margin: 10px 5px;
  height: 45px;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0px 0px 0px 0px rgba(141, 150, 170, 0.1),
    1px 1px 3px 0px rgba(141, 150, 170, 0.1),
    3px 5px 6px 0px rgba(141, 150, 170, 0.09),
    6px 11px 8px 0px rgba(141, 150, 170, 0.05),
    11px 20px 9px 0px rgba(141, 150, 170, 0.01),
    17px 31px 10px 0px rgba(141, 150, 170, 0),
    0px 0px 3px 0px rgba(141, 150, 170, 0.13);
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  overflow: hidden;
}

.avatarWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.tileIcon {
  width: 2.75rem;
  height: 2.75rem;
  flex-shrink: 0;
  border-radius: 6.25rem;
}

.tileContentTitle {
  color: #3a464e;
  font-family: "Montserrat";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0;
  margin: 0;
}

.tileContentDesc {
  color: #3a464e;
  font-family: "Montserrat";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
  max-width: 100px;
}

.tileReelWrapper {
  width: 4.125rem;
  flex-shrink: 0;
  position: absolute;
  right: 0;
}

/* Define the animation keyframes */
@keyframes rotateZoomAnimation {
  0% {
    transform: rotate(30deg) scale(1);
  }
  100% {
    transform: rotate(0deg) scale(1.3); /* Rotate to -90 degrees and scale up by 20% */
  }
}

.tileReel {
  width: 50px;
  height: 90px;
  transform: rotate(30deg);
  z-index: 3;
  margin-top: 55px;
  margin-right: -26px;
  margin-left: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  bottom: 8px;
}

@media (max-width: 768px) {
  .tileReel {
    width: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .tileReel {
    width: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

/* chat bubble icon */

.speech {
  font-size: 1.5em;
  text-align: center;

  color: #fff;

  position: relative;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 50px auto;
  max-width: 90px;
}

.speechSmall {
  font-size: 0.1em;
  padding: 8px 16px;
}

.rotateRight {
  transform: rotate(25deg);
  font-size: 12px;
  position: absolute;
  bottom: -10px;
  right: -30px;
  padding: 4px 18px;
}

.rotateLeft {
  transform: rotate(-25deg);
  font-size: 16px;
  position: absolute;
  top: -42px;
  left: -30px;
  padding: 4px 18px;
}

.speech::after {
  content: "";
  border: 10px solid transparent;
  position: absolute;
}

.bottom.speech::after {
  border-top-color: var(--background-chat, transparent);

  border-bottom: 0;

  bottom: -6px;
  left: 50%;
  margin-left: -10px;
}

body::-webkit-scrollbar {
  width: 0em;
  height: 0em;
}
body::-webkit-scrollbar-button {
  background: #ccc;
}
body::-webkit-scrollbar-track-piece {
  background: #888;
}
body::-webkit-scrollbar-thumb {
  background: #eee;
}
